body {
  margin: 0; }

.content {
  float: left;
  margin-left: 50px; }
  .content-wrapper {
    display: flex;
    padding: 0 20px; }

.note-search {
  max-width: 100px;
  color: white;
  padding: 5px;
  margin-right: 20px; }

.register {
  width: 256px;
  padding: 20px;
  font-family: Roboto, sans-serif;
  margin: 0 auto; }
  .register__header {
    color: #00bcd4;
    text-align: center; }
  .register__form-body {
    display: flex;
    flex-direction: column; }
  .register__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .register__form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%; }
  .register__submit {
    display: flex;
    justify-content: center;
    padding: 20px 0 12px 0; }

.register-link {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: inherit; }
  .register-link__text {
    font-size: 13px;
    cursor: default;
    color: rgba(0, 0, 0, 0.8); }
  .register-link__link {
    margin-top: 5px;
    color: #00bcd4;
    cursor: pointer;
    text-decoration: none; }

@media (max-width: 400px) {
  .register {
    width: 160px; } }

.control-panel {
  display: flex; }
  .control-panel__underline {
    text-align: center; }

.control {
  cursor: pointer;
  position: relative;
  width: 114px;
  align-self: center; }
  .control:last-child {
    margin-bottom: 0; }
  .control__icon {
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    cursor: pointer;
    position: absolute;
    height: 50px;
    width: 100%;
    text-align: center;
    color: white; }
    .control__icon:hover {
      transform: translateY(-3px) scale(0.98); }
  .control__text {
    width: 100%;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    color: white; }

textarea, input, button {
  outline: none; }

.edit-note__nav {
  margin: 20px auto;
  max-width: 700px;
  width: 94%;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: transparent; }

.edit-note__text {
  width: 100% !important;
  display: flex !important;
  flex-grow: 2; }

.edit-note__name {
  width: 100% !important; }

.edit-note__form {
  flex-grow: 2;
  display: flex;
  flex-direction: column; }

.edit-note__creation-date {
  align-self: flex-end; }

.edit-note__text > div {
  display: flex !important;
  flex-grow: 2 !important; }

.edit-note__textarea {
  width: 100% !important;
  min-height: 300px !important;
  border: none;
  background: transparent;
  resize: none;
  font-size: 16px;
  padding: 10px 0; }

.folder-tree {
  width: 200px;
  float: left;
  padding: 10px;
  margin-left: 10px; }

.folder_active {
  background-color: #ff4081;
  color: white; }

.folder__icon {
  color: black;
  cursor: pointer; }

.folder__name {
  margin-left: 5px;
  cursor: pointer;
  user-select: none; }

.login {
  width: 256px;
  padding: 20px;
  font-family: Roboto, sans-serif;
  margin: 0 auto; }
  .login__header {
    color: #00bcd4;
    text-align: center; }
  .login__form-body {
    display: flex;
    flex-direction: column; }
  .login__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .login__submit {
    display: flex;
    justify-content: center;
    padding: 20px 0 12px 0; }

.login-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%; }

.login-link {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: inherit; }
  .login-link__text {
    font-size: 13px;
    cursor: default;
    color: rgba(0, 0, 0, 0.8); }
  .login-link__link {
    margin-top: 5px;
    color: #00bcd4;
    cursor: pointer;
    text-decoration: none; }

@media (max-width: 400px) {
  .login {
    width: 160px; } }

.note-panel {
  width: 70%;
  margin-left: 50px; }

.note-container {
  display: flex;
  flex-wrap: wrap; }

.note {
  width: 72px;
  height: 100px;
  float: left;
  padding: 10px;
  position: relative;
  margin-right: 15px;
  cursor: pointer; }
  .note__remove {
    position: absolute;
    top: 8px;
    right: 6px;
    height: 23px;
    cursor: pointer;
    z-index: 2; }
  .note__icon-wrapper {
    position: relative; }
  .note__item {
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    height: 68px;
    width: 68px; }
    .note__item:hover {
      transform: translateY(-3px) scale(0.98); }
  .note__text {
    cursor: pointer;
    margin-top: 50px;
    width: 100px; }

.note-header {
  height: 34px !important;
  cursor: default; }

.closed .open, .closed .closed {
  display: none; }

.open .closed, .open .open {
  padding-left: 10px; }
.login {
  width: 256px;
  padding: 20px;
  font-family: Roboto, sans-serif;
  margin: 0 auto; }
  .login__header {
    color: #00bcd4;
    text-align: center; }
  .login__form-body {
    display: flex;
    flex-direction: column; }
  .login__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .login__submit {
    display: flex;
    justify-content: center;
    padding: 20px 0 12px 0; }

.login-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%; }

.login-link {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: inherit; }
  .login-link__text {
    font-size: 13px;
    cursor: default;
    color: rgba(0, 0, 0, 0.8); }
  .login-link__link {
    margin-top: 5px;
    color: #00bcd4;
    cursor: pointer;
    text-decoration: none; }

@media (max-width: 400px) {
  .login {
    width: 160px; } }
.register {
  width: 256px;
  padding: 20px;
  font-family: Roboto, sans-serif;
  margin: 0 auto; }
  .register__header {
    color: #00bcd4;
    text-align: center; }
  .register__form-body {
    display: flex;
    flex-direction: column; }
  .register__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .register__form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%; }
  .register__submit {
    display: flex;
    justify-content: center;
    padding: 20px 0 12px 0; }

.register-link {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: inherit; }
  .register-link__text {
    font-size: 13px;
    cursor: default;
    color: rgba(0, 0, 0, 0.8); }
  .register-link__link {
    margin-top: 5px;
    color: #00bcd4;
    cursor: pointer;
    text-decoration: none; }

@media (max-width: 400px) {
  .register {
    width: 160px; } }
